.button-filter {
  position: relative;
}

.button-filter::before {
  position: absolute;
  right: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none' stroke-width='2'><path d='M7.46411 1L7.46411 14' stroke='white' stroke-linecap='round'/><path d='M1 7.53589L14 7.53589' stroke='white' stroke-linecap='round' stroke-width='2'/></svg>");
  padding: 0 6px;
  height: 24px;
  width: 15px;
  background-size: 13px;
  background-position: 50% 50%;
}
